
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Welcome To Prime Library Portal</h1>
<br />
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")
